
.logout{
    background-color: white;
    width: 25rem;
    height: 15rem;
    margin-left: 30rem;
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    margin-top: 5rem;
}
.button1{
background-color: green;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border-radius: 0.4rem;
cursor: pointer;
margin-top: 3rem;
:hover{
    
}
}
.button2{
    background-color: red;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
    cursor: pointer;
}